header {
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 30px;

  



}

header a {
    color: var(--black);
}

header nav{
    width: 50%;



}

.header-lista {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;


}

.header-lista_elem:hover {
    color:  var(--white);

}



